<% layout('layouts/boilerplate') %>
<body>
    
    <h3 class="col-8 offset-2 mt-3">Edit your Listing</h3>
    <div class="row">
        <div class="col-8 offset-2">

    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" type="text" value="<%= listing.title %>" class="form-control" required>
            <div class="valid-feedback">Title Looks Good!</div>
        </div>
        
        <br/>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control"required ><%= listing.description %></textarea> 
            <div class="invalid-feedback">Description Should be Valid </div>
        </div>
        
        <br/>
        <div class="mb-3">
            Original listing image <br>
            <img src="<%= originalImageUrl %>" alt="">
        </div>
        <div class="mb-3">
            <label for="imageUrl" class="form-label">Image</label>
            <input name="listing[image][url]" type="file" class="form-control" >
            <div class="invalid-feedback">Image URL should be valid</div>
        </div>
        
        
        <br/>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label ">Price</label>
                <input name="listing[price]" type="number" value="<%= listing.price %>" class="form-control" required>
                <div class="invalid-feedback">Price Should be Valid </div>
            </div>
            
            <br/>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label ">Country</label>
                <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control" required>
                <div class="invalid-feedback">Country Name Should be Valid </div>
            </div> 
        </div>
        
        
        <br/>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" type="text" value="<%= listing.location %>" class="form-control" required>
            <div class="invalid-feedback">Location Should be Valid </div>
        </div>
        
        <br/>
        <button class="btn btn-dark edit-btn">Edit</button>
        <br><br>
    </form>
</div>
</div>

</body>